@charset "UTF-8";


/* tablet  max 768  */ 


@media screen and (max-width:908px){
    
    main > .especialidades > .box-geral > .img-table   img{

        display: none;
    }

}


@media screen and (max-width:590px) {
    
        header {

                display: flex;
                flex-direction: column;

        }

        header > .menu-header > ul {

            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-around;
            padding: 8px 0px;
            flex-wrap: wrap;

        }


        header > .menu-header{

            border-top: 1px solid rgba(128, 128, 128, 0.315);
            width: calc(100% - 30px);
            margin: 0px 15px;
            
            
        }



}

