@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: var(--fontSource);
    list-style-type: none;
    color: rgba(119, 119, 119, 0.705);
    

}

h2{

    padding: 20px 0px 30px 0px;
}

p{
    max-width: calc(800px - 30px);
    margin: 0px 15px;
}



:root{

    --corpadrao:#04bdc4;
    --fontSource:'Source Sans 3'
}

header{

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: #00CAD1;
    color: white;
}

header  > img{

    width: 90px;
    animation-name: mover;
    animation-duration: 850ms;
    animation-iteration-count: infinite;
    
}

header a {

    color: white;
}

header >  nav >  ul  {

    display: flex;
    flex-direction: row;
    gap: 25px;
    list-style-type: none;
}




main > .navegacao > nav ul {

    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    justify-content: center;
    padding: 10px 0px;
    flex-wrap: wrap;
    
}
    
    

main > .navegacao > nav > ul li a {

    border-bottom: 2px solid #00cad1;
    color: black;
    display: inline-block;
    

    
    
}

main .especialidades{

    
    max-width:1200px;
    margin: 0px auto;
    text-align: center;
   
}

main > .especialidades .box-geral{

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    width: calc(100% - 20px);
    margin: 0px 10px;
}

table {

    border-collapse: collapse;
   
    
}

table tr:nth-child(odd){

    background-color: rgba(128, 128, 128, 0.26);
    
}

table tr:nth-child(even){

    background-color: rgba(248, 246, 246, 0.801);
}

table   th ,  tr , td{

    width: 220px;
    height: 40px;
    text-align: left;
    padding-left: 3px;
    

}

table th {

    background-color: var(--corpadrao);
    color: white;
    text-align: left;
}



.img-table{
    display: flex;
    flex-direction: row;
    margin: 20px 0px;
    
    
}

.img-table img {

    width: 320px;
    
}



footer{

    background-color: #007074;
    color: rgb(255, 255, 255);
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}


footer .rodape-pai{

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

footer img{

    width: 100px;
    
    
}

footer > .rodape-pai  span , a {

    color: white;

}


/* houver */

header > .menu-header > ul > li:hover{

    transform: scale(1.1);
    transition-property: all;
    border-bottom: 2px solid white;
    transition-duration: 400ms;
    
   
   
}

header > .menu-header > ul > li:hover{

    border-bottom: 2px solid white;
    transition-duration: 200ms;
}

main > .navegacao > nav > ul{

    max-width: 450px;
    margin: 0px auto;
    
}

main > .navegacao > nav > ul:hover > li > a:not(:hover){

   opacity: 0.5;
   filter: blur(2px);
   transition-property: all;
   transition-duration: 400ms;
    
}

 
   

main > .navegacao > nav > ul > li a:hover {

    font-weight: 600;
    transition-duration: 400ms;
    transition-delay: 100ms;
}




main > .navegacao > nav > ul > li:hover{

    transform: scale(1.1);
    transition-duration: 350ms;
}



/* Animation */


@keyframes mover {

    25%{

        transform: scale(1.1);
        transition-property: all;
        transition-duration: 800ms;
    }
    100%{

        transform: scale(1);
        transition-property: all;
        transition-duration: 800ms;
    }

    
}



