@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: var(--fontSource);

}

:root{

    --fontSource:'Source Sans 3'
}

p{

    text-align: center;
}

header{

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: #00CAD1;
    color: white;
}

header  > img{

    width: 90px;
}

header a {

    color: white;
}

header >  nav >  ul  {

    display: flex;
    flex-direction: row;
    gap: 15px;
}

header ul {

    list-style-type: none;
}


main .img-fundo{

    background-image: url(../image/recepcao.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    color: white;
    position: relative;
    
       
}

main .img-fundo > .texto-imgfundo{

    position: absolute;
    top: 50%;
    left: 15%;
}

main .img-fundo h1 {

    font-weight: normal;
   
    
}

main .box-sobre{

    display: flex;
    flex-direction: column;
    align-items: center;
    
    
}

main .box-sobre > h3{

    padding: 20px 0px 10px 0px;
}

main .box-sobre > p {

    padding-bottom: 20px;
}

main .box-sobre > .container-sobre{

        display: flex;
        flex-direction: row;
        align-items: center;
        column-gap: 10px;
}

.container-sobre > .lista {

    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
    
}

main .box-multi{

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: calc(100% - 10px);
    margin-top: 20px;
    
    
}

main .box-multi p {

    margin-bottom: 20px;
}

main .box-multi > .img-especialidades{

    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
    flex-wrap: wrap;
    justify-content: center;
  
    
}

main .box-multi > .img-especialidades .container-imgpai img{

    width: 100%;
    
}

main .box-multi > .img-especialidades .container-imgpai{

    width: 300px;
    text-align: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.61);
    border-radius: 8px;
    overflow: hidden;
    
   
    
}

main .box-multi > .img-especialidades .container-imgpai > span{

    display: inline-block;
    padding: 10px;
    
}

main > .horarios{
   
    width: calc(100% - 10px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
    text-decoration: none;
    padding-top: 30px;
   
   
}

main > .horarios a {

    color: black;
    font-weight: bold;
    
}
 
main > .horarios mark{

    background-color: transparent;
    font-weight: bold;
}
    
main > .horarios >  h3 {

    background-color: #00CAD1;
    padding: 5px;
    font-size: 15px;
    color: white;
    font-family: var(--fontSource);
    width: 150px;
    text-align: center;
    border-radius: 5px;
    margin-bottom: 20px;
}
   
main > .localiza {

    width: 100%; 
    display: flex;
    flex-direction: row;
    align-items: center; 
    justify-content: center;
    width: 100%;
    padding: 10px 0px 40px 0px;
}

main > .localiza iframe {

    width: calc(960px - 30px);
    border-radius: 5px;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.527);
    margin: 0px 15px;
   
}   


footer{

    background-color: #007074;
    color: white;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}


footer .rodape-pai{

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

footer img{

    width: 100px;
    
    
}

footer > .rodape-pai a {

    color: white;

}



  
    
   